.header{
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #fff;
    .container{
        width: 1110px;
        margin: 0 auto;
        .header_nav{
            height: 96px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav_list{
                list-style-type: none;
                display: flex;
                .nav_item{
                    .nav_link{
                        font-family: 'Space Mono', sans-serif;
                        color: $dark-navy;
                        font-size: 15px;
                        font-weight: 700;
                        line-height: 25px;
                        &:hover{
                            color: $yellow;
                            transition: .4s ease all;
                        }
                    }
                    &:nth-child(-n + 2){
                        margin-right: 32px;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px){
    .header{
        // width: 80%;
        .container{
            width: 573px;
            margin: 0 auto;
            .header_nav{
                height: 96px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .nav_list{
                    list-style-type: none;
                    display: flex;
                    .nav_item{
                        .nav_link{
                            font-family: 'Space Mono', sans-serif;
                            color: $dark-navy;
                            font-size: 15px;
                            font-weight: 700;
                            line-height: 25px;
                            &:hover{
                                color: $yellow;
                                transition: .4s ease all;
                            }
                        }
                        &:nth-child(-n + 2){
                            margin-right: 32px;
                        }
                    }
                }
            }
        }
    }
}